.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    transition: transform 0.6s ease-in-out; /* Adicionamos a transição */
  }
  
  .sign-in-container.right-panel-active {
    transform: translateX(100%); /* Adicionamos a transformação para a direita */
  }
  
  form {
      background-color: #f8f9fa;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      text-align: center;
  }
  
  input {
      background-color: #eeeeee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
  }

  input:focus{
    outline: none;
  }
  
  .imagemlogo{
    height: 20%;
  }
  
  .loginspan {
      font-size: 12px;
  }
  
  a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
  }
  
  .btnlogin {
      border-radius: 20px;
      border: 1px solid #6c757d;
      background-color: #6c757d;
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor:pointer;
  }
  
  .btnlogin:active {
      transform: scale(0.95);
  }
  
  .btnlogin:focus {
      outline: none;
  }
  
  .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
  }
  
  .social-container {
      margin: 20px 0;
  }
  
  .social-container a {
      border: 1px solid #dddddd;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
  }